<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/regAntes.css">
    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title></title>
</head>
    <body>
    <div id="principal">
        <div class="contenedor">
            <div class="superior">
                <img src="/imgs/logoHub.png" alt="Logo HUB" class="logo-regA"/>
                <h1 class="texto">CREA UN PERFIL</h1>
                <hr class="decoracion"/>
            </div>

            <div class="botones">
                <a  class="boton1" onclick="window.location.replace('?p=22')">REGISTRARME COMO USUARIO</a>
                <a  class="boton2" onclick="window.location.replace('?p=23')">REGISTRARME COMO EMPRESA</a>
            </div>

            <div class="contenedor2">
                <div class="inferior">
                    <h1 class="texto-boton">¿Ya estás registrado?</h1>
                </div>
                <div class="boton">
                    <a onclick="window.location.replace('/login')">Inicia Sesión</a>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>