<div>
	<form method="post" action="?p=2">
		<h4>REGISTER FORM</h4>
		<input name="nombre" placeholder="Nombre"><br>
		<input name="apellido" placeholder="Apellido"><br>
		<input name="telefono" placeholder="Telefono"><br>
		<input name="correo" placeholder="Correo"><br>
		<input type="password" name="passwd" placeholder="Contraseña"><br>
		<input type="password" name="rpasswd" placeholder="Repetir Contraseña"><br>
		<input name="rfc" placeholder="RFC"><br>
		<input name="razon" placeholder="Razon Social"><br>
		<input name="pais" placeholder="Pais"><br>
		<input name="ciudad" placeholder="Ciudad"><br>
		<select name="sexo">
			<option value="h">Hombre</option>
			<option value="m">Mujer</option>
			<option value="o">Otro</option>
		</select>
		<input name="tipo" placeholder="1=empresa 2=normal"><br>
		<input type="submit" value="Registrar">
	</form>
</div>